/* General Settings */
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
}

/* ------------------------------------------------------ */
/* Main Control Buttons */
div#buttons {
	background: lightblue;
	border: thin solid;
	width: 140px;
	position: fixed;
	top: 3px;
	left: -150px;
	display: block;
	transition: left 2s;
	transition-delay: 3s;
}

div#buttons input {
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100px;
	display: block;
}

/* ------------------------------------------------------ */
/* The Connection panel */
div#connection {
	background: lightblue;
	border: thin solid;
	width: 500px;
	min-height: 100px;
	box-shadow: 3px 3px 5px black;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	transition: top 2s;
	transition-delay: 3s;   
	z-index: 1;
}

div#connection h1 {
	font-size: 20px;
	margin: 5px;
}

div#connection p {
	font-size: 16px;
	margin: 5px 0px 5px 20px;
}

div#portChoices input {
	margin: 10px;
}

#mainContent {
	margin: 3px 3px 0px 147px;	
	padding: 5px;
	opacity: 0;
	transition: opacity 2s;
	transition-delay: 3s; 
	background: darkgrey;
}

/* ------------------------------------------------------ */
/* Sensor Groups and control buttons */
#mainContent .icon {
	width: 15px;
	height: 15px;
	float: left;
	margin: 5px 3px 0px 3px;
	background: url(triangles.png) -15px 0;
}

#mainContent h1 {
	font-size: 18px;
	color: white;

	cursor: pointer;
}

.sensorGroup {
	margin-left: 15px;
	background: lightgrey;
	padding: 5px;
	border: thin solid black;
}

.sensControl {
	display: inline-block;
	float: left;
	margin: 0;
}

p.sensControl {
	padding: 3px 5px 5px 10px;
}

label.sensControl {
	padding: 0px 5px 0px 5px;
}

input.sensControl[type="radio"] {
	margin: 4px 5px 0px 0px;
}

div.sensControl {
	border: thin solid darkgrey;
	padding: 2px;
}

div.buttonGroup .lockLabel {
	padding: 3px 0 0 15px;
}

input.lockBox[type=checkbox] {
	margin: 8px 0 0 6px;
}

/* ------------------------------------------------------ */
/* Trigger Layout */

.triggerDiv {
	clear: left;
}
	
form.trigger {
	position: relative;
	background: lightblue;
	border: thin solid;
	padding: 5px;
	margin: 3px;
	display: inline-block;
	vertical-align: top;
}

.deleteBtn {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	position: absolute;
	top: 0;
	left: 4px;
}

.deleteBtn:focus,
.deleteBtn:hover {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

form fieldset {
	display: inline;
	margin: 5px;
	vertical-align: top;
}

fieldset div {
	display: block;
	float: left;
}

form label {
	margin: 6px 5px 0px 8px;
	display: block;
	float: left;
	vertial-align: top;
}

form input, form select {
	margin-top: 6px;
	display: block;
	float: left;
	vertical-align: top;
}

/* Force a line break before the 'extra' fields */
form .extras {
	clear: left;
	margin-top: 5px;
}

form .smallnum {
	width: 35px;
}

form .largenum {
	width: 55px;
}

/* innerDiv holds the slider and the meter. */
form .innerDiv {
	position: relative;
	width: 190px;
	margin: 0;
	padding: 0;
}

/* Some browsers have smaller sliders.  There is a required size */
/* This rule targets both the slider and the meter - which sit 
   on top of each other */
form .sliderGroup {
	width: 180px;
	position: absolute;
	top: 5px;
	left: 0;
	margin: 3px 0 0 0;
	padding: 0;
}

/* The following mess targets IE 10 and up.  We need to do this because IE puts the 
   range slider lower than everyone else does. */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	form .continuous input[type=range] {
		position: relative;
		top: -15px;
		margin: 22px 0 0 0;
	}
}

.actionOption input[type=text] {   /* For HID Keyboard action parameter */
	width: 20px;
	height: 22px;
	text-align: center;
}

input.repeat[type=checkbox] {  /* A nudge for the repeat checkbox. */
	position: relative;
	top: 5px;
}

/* Some tediously specific positioning for Active High and Active Low buttons. */
/* within the continuous values div */
.continuous {
	position: relative;
}

.invert {
	position: absolute;
	top: -20px;
	left: 190px;
	font-size: 80%;
}
.invertBox {
	position: absolute;
	top: -17px;
	left: 230px;
}

/* ------------------------------------------------------ */
/* Modal Dialog - copied from W3Schools */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid red;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* ------------------------------------------------------ */
/* Save Area */
div#savediv {
	position: fixed;
	top: 50px;
	left: 50px;
	background: white;
	border: thick solid black;
	display: none;
	z-index: 2;
}

div#savediv h1 {
	margin: 3px 0px 0px 25px;
	font-size: 24px;
}

pre#savepre {
	padding: 0px 5px 0px 15px;
	width: 400px;
	height: 300px;
}

div#savediv input {
	margin: 5px;
	display: block;
	margin: auto;
}

/* ------------------------------------------------------ */
/* Restore Area */
div#restorediv {
	position: fixed;
	top: 50px;
	left: 50px;
	background: white;
	border: thick solid black;
	display: none;
	z-index: 2;
}

div#restorediv h1 {
	margin: 3px 0px 0px 25px;
	font-size: 24px;
}

div#restorediv textarea {
	padding: 0px 5px 0px 15px;
	width: 400px;
	height: 300px;
}

div#restorediv input {
	margin: 5px;
	display: block;
	margin: auto;
}
/* ------------------------------------------------------ */
/* Misc - Debug support */
div#debug {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 3px;
	min-height: 30px;
	background: lightgreen;
	font-family: "Courier New", Courier, monospace;
	z-index: -1;
}

div#debug2 {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 3px;
	background: lightgreen;
	font-family: "Courier New", Courier, monospace;
	display: none;
}
div#debug2 textarea {
	height: 150px;
	width: 300px;
}

/* ------------------------------------------------------ */
/*Tooltip support */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: darkblue;
    color: #eee;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
	top: -5px;
	right: 105%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}