@charset "utf-8";
/* CSS Document */

/* ------------------------------------------------------ */
/* The Connection panel */
div#connection {
	background: lightblue;
	border: thin solid;
	width: 500px;
	min-height: 100px;
	box-shadow: 3px 3px 5px black;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	transition: top 2s;
	transition-delay: 3s;   
	z-index: 1;
}

div#connection h1 {
	font-size: 20px;
	margin: 5px;
}

div#connection p {
	font-size: 16px;
	margin: 5px 0px 5px 20px;
}

div#portChoices input[type=button] {
	margin: 10px;
}

/* ---------------------------------------------------------- */
/* The buttons */
div#buttons {
	background: lightblue;
	padding: 10px;
	opacity: 0;
	transition: opacity 2s;
	transition-delay: 3s; 	
}

div#buttons input[type=button] {
	display: block;
	margin: auto;
	width: 400px;
	height: 100px;
	font-size: 300%;
	margin-top: 10px;
}

