
.hidden{
	display:none;
}

#sensorContainer{
	padding:20px;
	background: white;
	color:black;
	height: 500px;
	width: 680px;
	overflow:auto;
	border: solid 5px;
}

h1{
	
	font-size:15px;
	font: Verdana;
	padding-left:5px;
}

h1:hover{
	background-color: D8E5FE;
}

input[type=range]{
	position: relative;
	height:20px;
	margin-right: 5px;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  width: 120px;
  z-index:2;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 15px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /*background: #3071a9;*/
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #597BBF;*/
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type=number]{
	margin-left: 5px;
	margin-right: 5px;
	width:50px;
	text-align:center;
	height: 20px;
	position: relative;
	top:-5px;
}

button{
    padding: 5px;
	background-color: CCCC99;
	border: solid 1px;
    margin: 3px 5px 10px 3px;
}

input[type=checkbox]{
	position:relative;
	top:-3px;
}

label{
	position:relative;
	top:-5px;
}

label.actionText{
	margin: 3px 5px 10px 35px;
}

progress {
	-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
	position: relative;
	top: -8px;
	height: 8px;
	margin-left: 30px;
	margin-right:-123px;
	background-color:white;
	width: 120px;
	z-index:1;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
   background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
 	   -webkit-linear-gradient(left, #09c, #f44);  
/* 	background-color: #008322; */
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
} 

select{
	position:relative;
	top: -4px;
	margin-left: 5px;
	margin-right: 5px;
}

input[type=text] {
	width: 20px;
	height: 20px;
	text-align: center;
	position:relative;
	top:-5px;
	margin-left: 5px;
}

input[type=text].largeText{
	width: 100px;
}

/* For choosing the port */
div.buttonGroup {
	margin:10px;
}

a.rangeDiv{
	overflow:hidden;
	position:relative;
	width:100px;
	height:10px;
} 

button.portButton {
	font-size: 20px;
	width: 80%;
	text-align:center;
}

button:hover{
	background-color: 393939;
	color: white;
}

div.ports {
	border: 2px solid black;
	font-size: 20px;
	text-align:center;
	background-color: 003366;
	position: absolute;
	min-width: 400px;
	max-height: 400px;
	height: auto;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -200px;
	padding:10px;
	color: white;
	overflow:auto;
}
